/* FORCE HIDE NATIVE DASH SLIDER TOOLTIPS (CACHE BUSTER) */
.rc-slider-tooltip {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.rc-slider-tooltip-inner {
    display: none !important;
    visibility: hidden !important;
}

/* FORCE HIDE DASH INTERNAL INPUT CONTAINERS */
.dash-input-container {
    display: none !important;
}
