/* ================================
   GENERAL
================================ */

body{
    background:#F1F5F9;
    font-family:"Segoe UI", sans-serif;
    color:#1F2937;
}

/* ================================
   NAVBAR
================================ */

.navbar-custom{

    background:#0F172A !important;

    height: 60px;

    box-shadow:0 3px 12px rgba(0,0,0,.15);

}

.navbar-title{

    font-size:28px;

    font-weight:700;

}

.navbar-subtitle{

    color:white;

    font-size:20px;

}

/* ================================
   SIDEBAR
================================ */

.sidebar{

    position:fixed;

    top:60px;

    left:0;

    width: 260px;

    bottom:0;

    background:#1E293B;

    color:white;

    padding:25px;

    overflow-y:auto;

}

.sidebar-title{

    color:#059669;

    text-align:center;

    font-weight:bold;

}

.sidebar-subtitle{

    text-align:center;

    color:#CBD5E1;

    font-size:18px;

}

.sidebar hr{

    border-color:#475569;

}

.sidebar label{

    color:white;

}

/* ================================
   NAVIGATION
================================ */

.nav-link-custom{

    color:white !important;

    margin-bottom:8px;

    border-radius:8px;

    padding:12px;

    font-size:17px;

}

.nav-link-custom:hover{

    background:#334155;

}

.nav-pills .nav-link.active{

    background:#10B981 !important;

}

/* ================================
   CONTENT
================================ */

.content{

    margin-left: 280px;

    margin-top:60px;

    padding:10px 20px 20px 20px;

}

/* ================================
   FILTERS
================================ */

/* Date Picker */

.DateRangePicker {
    width: 100%;
}

.DateRangePickerInput {
    width: 100%;
    border-radius: 6px;
    border: none;
}

.DateInput {
    width: 100px;
}

.DateInput_input {
    font-size: 14px;
    text-align: center;
}

/* Dropdown */

.Select-control {
    border-radius: 6px !important;
    min-height: 40px !important;
}

.Select-menu-outer {
    background: white !important;
    color: black !important;
}

.Select-option {
    color: #1F2937 !important;
}

.Select-option.is-focused {
    background: #E5F3FF !important;
}

.Select-option.is-selected {
    background: #10B981 !important;
    color: white !important;
}

html {
    scroll-behavior: smooth;
}